* {
    font-family: "Nunito", "Arial", "Helvetica", "sans-serif";
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        height: 100%;
        margin: 0;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1 {
    margin-top: 0px;
    padding-bottom: 20px;
    color: white;
}

p {
    color: white;
}

.title {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

p {
    padding: 20px;
}

hearder {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #192911;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, li, a {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
    color: #84a465;
}

.nav-item a {
    font-size: 20px;
    display: block;
    padding: 10px;
    font-weight: bold;
    margin: 0 30px;
}

.navbar-nav.flex-grow-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar-nav .nav-link {
    color: #84a465 !important;
    font-weight: bold;
}

.table {
    color: white;
    margin-top: 90px;
    margin-bottom: 90px;
}

    .table td {
        vertical-align: middle;
        font-size: 20px;
    }

    .table tr {
        font-size: 25px;
    }

.page-section {
    background-color: #84a465;
    padding: 20px;
    flex-grow: 1;
    padding-bottom: 200px;
    border-radius: 15px 60px;
    opacity: 90%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
}

.container {
    margin-top: 0;
}
