@page
@model AngriEnergyConnect.Pages.LoginModel
@{
    int? userID = HttpContext.Session.GetInt32("UserID");
    var result = TempData["LoginResult"] as String;
}
@if(userID == null){
    <form method="post">
        <label>Email</label>
        <input asp-for="email" type="email" required />

        <label>Password</label>
        <input asp-for="password" type="password" required />

        <button type="submit">Login</button>

    </form>

}else{

    <h2>Logout</h2>
    <a asp-page="/Shared/Logout">Click here to logout</a>

}

@if(result == "sucess"){

    <script>alert("Login successful!");</script>

}else if (result == "fail"){

    <script>alert("Invalid Email or Password. Please Try Again");</script>
}