@page
@model AngriEnergyConnect.Pages.LoginModel
@{
    int? userID = HttpContext.Session.GetInt32("UserID");
    var result = TempData["LoginResult"] as String;
}
<section class="page-section">
    @if (userID == null)
    {
        <div class="text-center">
            <h1 class="display-4">Login</h1>
        </div>

        <form class="form-container" method="post">
            <div class="input-field">
                <input asp-for="email" type="email" required />
                <label>Email</label>
            </div>

            <div class="input-field">
                <input asp-for="password" type="password" required />
                <label>Password</label>
            </div>

            <div class="buttom-field">
                <button type="submit">Login</button>
            </div>


        </form>

    }
    else
    {
        <div class="text-center">
            <h1>Logout</h1>
        </div>
        
        <a asp-page="/Shared/Logout">Click here to logout</a>

    }

    @if (result == "sucess")
    {

        <script>alert("Login successful!");</script>

    }
    else if (result == "fail")
    {

        <script>alert("Invalid Email or Password. Please Try Again");</script>
    }
</section>
