@page
@model AngriEnergyConnect.Pages.SignUpModel
@{
    int? userID = HttpContext.Session.GetInt32("UserID");
    string? accountType = HttpContext.Session.GetString("accountType");
}
<section class="page-section">
    @if (userID != null && accountType == "Employee")
    {
        <div class="text-center">
            <h1>Sign Up - Create your Employee Account</h1>
        </div>

        <form class="form-container" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-field">
                <input asp-for="user.name" />
                <label>Name</label>
                <span asp-validation-for="user.name" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.surname" />
                <label>Surname</label>
                <span asp-validation-for="user.surname" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.email" />
                <label>Email</label>
                <span asp-validation-for="user.email" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.password" />
                <label>Password</label>
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>

            <input asp-for="user.accountType" value="Employee" hidden />

            <div class="buttom-field">
                <button type="submit">Save</button>
            </div>

        </form>


    }
    else if (userID != null && accountType == "Employee")
    {
        <div class="text-center">
            <h1>Create a Farmer Account</h1>
        </div>

        <form class="form-container" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="input-field">
                <input asp-for="user.name" />
                <label>Name</label>
                <span asp-validation-for="user.name" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.surname" />
                <label>Surname</label>
                <span asp-validation-for="user.surname" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.email" />
                <label>Email</label>
                <span asp-validation-for="user.email" class="text-danger"></span>
            </div>

            <div class="input-field">
                <input asp-for="user.password" />
                <label>Password</label>
                <span asp-validation-for="user.password" class="text-danger"></span>
            </div>

            <input asp-for="user.accountType" value="Farmer" hidden />

            <div class="buttom-field">
                <button type="submit">Save</button>
            </div>

        </form>

    }
    else if (userID != null && accountType == "Farmer"){
        <p>Only employees can create accounts, if you desire a new one please, contact on of us.</p>
    }
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}